<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-layout child-flex>
      <v-data-table
        :expanded.sync="expanded"
        :footer-props="footerProps"
        :headers="headers"
        :items-per-page="10"
        :items="items"
        :pagination.sync="pagination"
        :search="search"
        :item-key="keyIdentifier"
        show-select
        v-model="selected"
        child-flex
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Completions</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn
              class="mx-4"
              color="error"
              :disabled="selected.length <= 0"
              @click="deleteItemsDialog"
            >Delete selected
            </v-btn>
            <v-dialog v-model="dialog" max-width="1000px">
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle() }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-text-field
                        v-model="editedItem.phaseId"
                        label="Phase ID"
                      ></v-text-field>
                    </v-row>
                    <v-row>
                      <v-text-field
                        v-model="editedItem.userId"
                        label="User ID"
                      ></v-text-field>
                    </v-row>
                    <v-row>
                      <v-text-field
                        v-model="editedItem.matNumber"
                        label="Matriculation number"
                      ></v-text-field>
                    </v-row>
                    <v-row>
                      <v-text-field
                        v-model="editedItem.lastName"
                        label="Last name"
                      ></v-text-field>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-btn color="blue darken-1" text @click="closeDialog"
                  >Cancel
                  </v-btn
                  >
                  <v-btn color="primary" text @click="saveCompletion(editedItem)"
                  >Save
                  </v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDeleteItem" max-width="520px">
              <v-card>
                <v-card-title class="headline"
                >Are you sure you want to delete this completed quiz?
                </v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDialog"
                  >Cancel
                  </v-btn
                  >
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="deleteItemConfirm"
                  >OK
                  </v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDeleteItems" max-width="670px">
              <v-card>
                <v-card-title class="headline"
                >Are you sure you want to delete ALL the selected completions?
                </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDialog"
                  >Cancel
                  </v-btn
                  >
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="deleteItemsConfirm"
                  >OK
                  </v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.matNumber="{ item }">
          <v-edit-dialog
            :return-value.sync="item.matNumber"
            large
            @save="updateCompletion(item)"
          >
            <div :class="addEmptyAlertClass(item.matNumber)">
              {{ item.matNumber }}
            </div>
            <template v-slot:input>
              <v-text-field
                v-model="item.matNumber"
                autofocus
                counter
                label="Edit"
                single-line
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>

        <template v-slot:item.lastName="{ item }">
          <v-edit-dialog
            :return-value.sync="item.lastName"
            large
            @save="updateCompletion(item)"
          >
            <div :class="addEmptyAlertClass(item.lastName)">
              {{ item.lastName }}
            </div>
            <template v-slot:input>
              <v-text-field
                v-model="item.lastName"
                autofocus
                counter
                label="Edit"
                single-line
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>

        <template v-slot:item.actions="{ item }">
          <v-icon large class="mr-2" @click="openItemDialog(item)">
            mdi-pencil
          </v-icon>
          <v-icon large class="mr-2" @click="deleteItemDialog(item)">
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
    </v-layout>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import {Component, Mixins} from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";

@Component
export default class CompletionsComponent extends Mixins(DataTable) {
  pathGet = "/praxis/completions";
  pathUpdate = "/praxis/completions";
  pathDelete = "/praxis/completions";

  keyIdentifier = "completionId";
  editedItem = {
    completionId: -1,
    phaseId: -1,
    userId: -1,
    matNumber: "",
    lastName: "",
  };

  newItemText = "New Completion";
  editItemText = "Edit Completion";
  itemSuccessfullyCreatedText = "Completion successfully created.";
  itemSuccessfullyUpdatedText = "Completion successfully updated.";
  itemSuccessfullyDeletedText = "Completion successfully deleted.";

  headers = [
    {
      text: "ID",
      align: "start",
      value: "completionId",
    },
    {
      text: "Phase ID",
      value: "phaseId",
    },
    {
      text: "User ID",
      value: "userId",
    },
    {
      text: "Matriculation number",
      value: "matNumber",
    },
    {
      text: "Last name",
      value: "lastName",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "120px",
    },
  ];

  updateCompletion(item: any) {
    return this.updateItem(item.completionId, {
      completionId: item.completionId,
      phaseId: item.phaseId,
      userId: item.userId,
      matNumber: item.matNumber ?? "",
      lastName: item.lastName ?? "",
    });
  }
}
</script>
