<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-layout child-flex>
          <v-data-table
            :expanded.sync="expanded"
            :footer-props="footerProps"
            :headers="headers"
            :items-per-page="10"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :item-key="keyIdentifier"
            show-select
            v-model="selected"
            child-flex
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Medias</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-btn
                  class="mx-4"
                  color="error"
                  :disabled="selected.length <= 0"
                  @click="deleteItemsDialog"
                >Delete selected
                </v-btn>
                <v-dialog v-model="dialog" max-width="1000px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" color="#6D9E1F">{{
                        newItemText
                      }}
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle() }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.de"
                            label="Title (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.en"
                            label="Title (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-select
                            v-model="editedItem.type"
                            :items="types"
                            label="Type"
                          ></v-select>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.url"
                            label="URL"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.order"
                            label="Order (optional)"
                          ></v-text-field>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-btn color="secondary" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn color="primary" text @click="saveMedia"
                      >Save
                      </v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItem" max-width="520px">
                  <v-card>
                    <v-card-title class="headline"
                    >Are you sure you want to delete this media?
                    </v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                      >OK
                      </v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItems" max-width="670px">
                  <v-card>
                    <v-card-title class="headline"
                    >Are you sure you want to delete ALL the selected medias?
                    </v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemsConfirm"
                      >OK
                      </v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.title.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.de"
                large
                @save="updateMedia(item)"
              >
                <div :class="addEmptyAlertClass(item.title.de)">
                  {{ item.title.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.title.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.en"
                large
                @save="updateMedia(item)"
              >
                <div :class="addEmptyAlertClass(item.title.en)">
                  {{ item.title.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.type="{ item }">
              <v-select
                v-model="item.type"
                :items="types"
                @change="updateMedia(item)"
              ></v-select>
            </template>

            <template v-slot:item.url="{ item }">
              <v-edit-dialog
                :return-value.sync="item.url"
                large
                @save="updateMedia(item)"
              >
                <div :class="addEmptyAlertClass(item.url)">
                  {{ item.url }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.url"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.order="{ item }">
              <v-edit-dialog
                :return-value.sync="item.order"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.order)">
                  {{ item.order }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.order"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon large class="mr-2" @click="openItemDialog(item)">
                mdi-pencil
              </v-icon>
              <v-icon large class="mr-2" @click="deleteItemDialog(item)">
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import {Component, Mixins} from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";

@Component
export default class PhasesComponent extends Mixins(DataTable) {
  phaseId = this.$route.params.phaseId;
  groupId = this.$route.params.groupId;
  unitId = this.$route.params.unitId;

  pathGet = `/praxis/units/${this.unitId}/media`;
  pathCreate = `/praxis/media`;
  pathUpdate = `/praxis/media`;
  pathDelete = `/praxis/media`;

  breadcrumbs = [
    {
      text: "Phases",
      disabled: false,
      exact: true,
      to: "/phases",
    },
    {
      text: "Groups",
      disabled: false,
      exact: true,
      to: "/phases/" + this.phaseId + "/groups",
    },
    {
      text: "Units",
      disabled: false,
      exact: true,
      to: "/phases/" + this.phaseId + "/groups/" + this.groupId + "/units",
    },
    {
      text: "Medias",
      disabled: true,
    },
  ];

  keyIdentifier = "mediaId";
  editedItem = {
    mediaId: -1,
    unitId: null,
    title: {
      de: "",
      en: "",
    },
    type: 0,
    url: "",
    order: null,
  };
  defaultItem = {
    mediaId: -1,
    unitId: null,
    title: {
      de: "",
      en: "",
    },
    type: 0,
    url: "",
    order: null,
  };

  newItemText = "New Media";
  editItemText = "Edit Media";
  itemSuccessfullyCreatedText = "Media successfully created.";
  itemSuccessfullyUpdatedText = "Media successfully updated.";
  itemSuccessfullyDeletedText = "Media successfully deleted.";

  types = [
    {
      text: "Link",
      value: 0,
    },
    {
      text: "Document",
      value: 1,
    },
    {
      text: "Videos",
      value: 2,
    },
  ];

  headers = [
    {
      text: "ID",
      align: "start",
      value: "mediaId",
      width: "80px",
    },
    {
      text: "Title (DE)",
      value: "title.de",
    },
    {
      text: "Title (EN)",
      value: "title.en",
    },
    {
      text: "Type",
      value: "type",
      width: "150px",
    },
    {
      text: "URL",
      value: "url",
    },
    {
      text: "Order",
      value: "order",
      width: "100px",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "120px",
    },
  ];

  saveMedia() {
    return this.saveItem(this.editedItem.mediaId, {
      mediaId: this.editedItem.mediaId,
      unitId: this.editedItem.unitId ?? this.unitId,
      titleDe: this.editedItem.title.de ?? "",
      titleEn: this.editedItem.title.en ?? "",
      type: this.editedItem.type ?? 0,
      url: this.editedItem.url ?? "",
      order: this.editedItem.order ?? this.items.length,
    });
  }

  updateMedia(item: any) {
    return this.updateItem(item.mediaId, {
      mediaId: item.mediaId,
      unitId: item.unitId ?? this.unitId,
      titleDe: item.title.de ?? "",
      titleEn: item.title.en ?? "",
      type: item.type ?? 0,
      url: item.url ?? "",
      order: item.order ?? this.items.length,
    });
  }
}
</script>
