<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-layout child-flex>
          <v-data-table
            :expanded.sync="expanded"
            :footer-props="footerProps"
            :headers="headers"
            :items-per-page="10"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :item-key="keyIdentifier"
            show-select
            v-model="selected"
            child-flex
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Persons</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-btn
                  class="mx-4"
                  color="error"
                  :disabled="selected.length <= 0"
                  @click="deleteItemsDialog"
                >Delete selected
                </v-btn>
                <v-dialog v-model="dialog" max-width="1000px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" color="#6D9E1F">{{
                        newItemText
                      }}
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle() }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.fullName.de"
                            label="Full name (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.fullName.en"
                            label="Full name (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.description.de"
                            label="Description (DE)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.description.en"
                            label="Description (EN)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.image"
                            label="Image (URL)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.imageAlt.de"
                            label="Image ALT (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.imageAlt.en"
                            label="Image ALT (EN)"
                          ></v-text-field>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-btn color="secondary" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn color="primary" text @click="savePerson"
                      >Save
                      </v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItem" max-width="520px">
                  <v-card>
                    <v-card-title class="headline"
                    >Are you sure you want to delete this
                      person?
                    </v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                      >OK
                      </v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItems" max-width="670px">
                  <v-card>
                    <v-card-title class="headline"
                    >Are you sure you want to delete ALL the selected persons?
                    </v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemsConfirm"
                      >OK
                      </v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.fullName.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.fullName.de"
                large
                @save="updatePerson(item)"
              >
                <div :class="addEmptyAlertClass(item.fullName.de)">
                  {{ item.fullName.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.fullName.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.fullName.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.fullName.en"
                large
                @save="updatePerson(item)"
              >
                <div :class="addEmptyAlertClass(item.fullName.en)">
                  {{ item.fullName.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.fullName.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.description.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.description.de"
                large
                @save="updatePerson(item)"
              >
                <div :class="addEmptyAlertClass(item.description.de)">
                  {{ item.description.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.description.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.description.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.description.en"
                large
                @save="updatePerson(item)"
              >
                <div :class="addEmptyAlertClass(item.description.en)">
                  {{ item.description.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.description.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.image="{ item }">
              <v-edit-dialog
                :return-value.sync="item.image"
                large
                @save="updatePerson(item)"
              >
                <div :class="addEmptyAlertClass(item.image)">
                  {{ item.image }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.image"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.imageAlt.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.imageAlt.de"
                large
                @save="updatePerson(item)"
              >
                <div :class="addEmptyAlertClass(item.imageAlt.de)">
                  {{ item.imageAlt.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.imageAlt.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.imageAlt.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.imageAlt.en"
                large
                @save="updatePerson(item)"
              >
                <div :class="addEmptyAlertClass(item.imageAlt.en)">
                  {{ item.imageAlt.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.imageAlt.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.correctAnswerId="{ item }">
              <v-edit-dialog
                :return-value.sync="item.correctAnswerId"
                @save="updatePerson(item)"
                large
              >
                {{ item.correctAnswerId }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.correctAnswerId"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.addresses="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path:
                    '/phases/' +
                    phaseId +
                    '/persons/' +
                    item.personId +
                    '/addresses',
                }"
              >Addresses ({{ item.addresses == undefined ? 0 : item.addresses.length }})
              </v-btn
              >
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon large class="mr-2" @click="openItemDialog(item)">
                mdi-pencil
              </v-icon>
              <v-icon large class="mr-2" @click="deleteItemDialog(item)">
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import {Component, Mixins} from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";

@Component
export default class PersonsComponent extends Mixins(DataTable) {
  phaseId = this.$route.params.phaseId;

  pathGet = `/praxis/phases/${this.phaseId}/persons`;
  pathCreate = `/praxis/persons`;
  pathUpdate = `/praxis/persons`;
  pathDelete = `/praxis/persons`;

  breadcrumbs = [
    {
      text: "Phases",
      disabled: false,
      exact: true,
      to: "/phases",
    },
    {
      text: "Persons",
      disabled: true,
    },
  ];

  keyIdentifier = "personId";
  editedItem = {
    personId: -1,
    phaseId: this.phaseId,
    fullName: {
      de: "",
      en: "",
    },
    description: {
      de: "",
      en: "",
    },
    bodyWrong: {
      de: "",
      en: "",
    },
    image: "",
    imageAlt: {
      de: "",
      en: "",
    },
    correctAnswerId: null,
  };
  defaultItem = {
    personId: -1,
    phaseId: this.phaseId,
    fullName: {
      de: "",
      en: "",
    },
    description: {
      de: "",
      en: "",
    },
    bodyWrong: {
      de: "",
      en: "",
    },
    image: "",
    imageAlt: {
      de: "",
      en: "",
    },
    correctAnswerId: null,
  };

  newItemText = "New Person";
  editItemText = "Edit Person";
  itemSuccessfullyCreatedText = "Person successfully created.";
  itemSuccessfullyUpdatedText = "Person successfully updated.";
  itemSuccessfullyDeletedText = "Person successfully deleted.";

  headers = [
    {
      text: "ID",
      align: "start",
      value: "personId",
      width: "80px",
    },
    {
      text: "Full name (DE)",
      value: "fullName.de",
    },
    {
      text: "Full name (EN)",
      value: "fullName.en",
    },
    {
      text: "Description (DE)",
      value: "description.de",
    },
    {
      text: "Description (EN)",
      value: "description.en",
    },
    {
      text: "Image",
      value: "image",
    },
    {
      text: "Image Alt (DE)",
      value: "imageAlt.de",
    },
    {
      text: "Image Alt (EN)",
      value: "imageAlt.en",
    },
    {
      text: "Addresses",
      align: "end",
      value: "addresses",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "120px",
    },
  ];

  savePerson() {
    return this.saveItem(this.editedItem.personId, {
      personId: this.editedItem.personId,
      phaseId: this.editedItem.phaseId,
      fullNameDe: this.editedItem.fullName.de ?? "",
      fullNameEn: this.editedItem.fullName.en ?? "",
      descriptionDe: this.editedItem.description.de ?? "",
      descriptionEn: this.editedItem.description.en ?? "",
      image: this.editedItem.image ?? "",
      imageAltDe: this.editedItem.imageAlt.de ?? "",
      imageAltEn: this.editedItem.imageAlt.en ?? "",
    });
  }

  updatePerson(item: any) {
    return this.updateItem(item.personId, {
      personId: item.personId,
      phaseId: item.phaseId,
      fullNameDe: item.fullName.de ?? "",
      fullNameEn: item.fullName.en ?? "",
      descriptionDe: item.description.de ?? "",
      descriptionEn: item.description.en ?? "",
      image: item.image ?? "",
      imageAltDe: item.imageAlt.de ?? "",
      imageAltEn: item.imageAlt.en ?? "",
    });
  }
}
</script>
