<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-layout child-flex>
          <v-data-table
            :expanded.sync="expanded"
            :footer-props="footerProps"
            :headers="headers"
            :items-per-page="10"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :item-key="keyIdentifier"
            show-select
            v-model="selected"
            child-flex
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Phases</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-btn
                  class="mx-4"
                  color="error"
                  :disabled="selected.length <= 0"
                  @click="deleteItemsDialog"
                >Delete selected
                </v-btn>
                <v-dialog v-model="dialog" max-width="1000px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" color="#6D9E1F">{{
                        newItemText
                      }}
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle() }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.de"
                            label="Title (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.en"
                            label="Title (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.description.de"
                            label="Description (DE)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.description.en"
                            label="Description (EN)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.faqUrl"
                            label="FAQ (URL)"
                          ></v-text-field>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-btn color="secondary" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn color="primary" text @click="savePhase(editedItem)"
                      >Save
                      </v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItem" max-width="520px">
                  <v-card>
                    <v-card-title class="headline"
                    >Are you sure you want to delete this phase?
                    </v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                      >OK
                      </v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItems" max-width="670px">
                  <v-card>
                    <v-card-title class="headline"
                    >Are you sure you want to delete ALL the selected phases?
                    </v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemsConfirm"
                      >OK
                      </v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.title.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.de"
                large
                @save="updatePhase(item)"
              >
                <div :class="addEmptyAlertClass(item.title.de)">
                  {{ item.title.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.title.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.en"
                large
                @save="updatePhase(item)"
              >
                <div :class="addEmptyAlertClass(item.title.en)">
                  {{ item.title.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.description.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.description.de"
                large
                @save="updatePhase(item)"
              >
                <div :class="addEmptyAlertClass(item.description.de)">
                  {{ item.description.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.description.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.description.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.description.en"
                large
                @save="updatePhase(item)"
              >
                <div :class="addEmptyAlertClass(item.description.en)">
                  {{ item.description.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.description.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.faqUrl="{ item }">
              <v-edit-dialog
                :return-value.sync="item.faqUrl"
                large
                @save="updatePhase(item)"
              >
                <div :class="addEmptyAlertClass(item.faqUrl)">
                  {{ item.faqUrl }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.faqUrl"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.groups="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path: '/phases/' + item.phaseId + '/groups',
                }"
              >Groups ({{ item.groups == undefined ? 0 : item.groups.length }})
              </v-btn
              >
            </template>

            <template v-slot:item.persons="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path: '/phases/' + item.phaseId + '/persons',
                }"
              >Persons ({{ item.persons == undefined ? 0 : item.persons.length }})
              </v-btn
              >
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon v-if="item.visible" large class="mr-2" @click="toggleVisible(item)">
                mdi-eye-outline
              </v-icon>
              <v-dialog v-else v-model="dialogPhaseVisible" persistent max-width="700">
                <template v-slot:activator="{ on, attrs }">
                  <v-icon large class="mr-2" v-bind="attrs" v-on="on" @click="showDialogPhaseVisible(item)">
                    mdi-eye-off-outline
                  </v-icon>
                </template>
                <v-card v-if="dialogPhaseVisibleItem.phaseId">
                  <v-card-title class="text-h5">
                    Soll die Phase &bdquo;{{ dialogPhaseVisibleItem.phaseId }}:
                    {{ dialogPhaseVisibleItem.title.de }}&ldquo; veröffentlicht werden?
                  </v-card-title>
                  <v-card-text>
                    Die Phase &bdquo;{{ dialogPhaseVisibleItem.phaseId }}: {{
                      dialogPhaseVisibleItem.title.de
                    }}&ldquo; wird für ALLE Nutzer in der App
                    sichtbar gemacht.<br/>
                    <p v-if="dialogPhaseVisibleItem.categoryId === null">
                      Es wird auch eine Kategorie in Q&A erstellt.
                    </p>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="dialogPhaseVisible = false">
                      Abbrechen
                    </v-btn>
                    <v-btn color="red darken-1" text @click="toggleVisible(dialogPhaseVisibleItem)">
                      Ja ich will
                      &bdquo;{{ dialogPhaseVisibleItem.phaseId }}: {{ dialogPhaseVisibleItem.title.de }}&ldquo;
                      Veröffentlichen!
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-icon large class="mr-2" @click="openItemDialog(item)">
                mdi-pencil
              </v-icon>
              <v-icon large class="mr-2" @click="deleteItemDialog(item)">
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import {Component, Mixins} from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";
import {AxiosResponse} from "axios";

@Component
export default class PhasesComponent extends Mixins(DataTable) {
  pathGet = "/praxis/phases";
  pathCreate = "/praxis/phases";
  pathUpdate = "/praxis/phases";
  pathDelete = "/praxis/phases";

  breadcrumbs = [
    {
      text: "Phases",
      disabled: true,
    },
  ];

  keyIdentifier = "phaseId";
  editedItem = {
    phaseId: -1,
    title: {
      de: "",
      en: "",
    },
    description: {
      de: "",
      en: "",
    },
    faqUrl: "",
    categoryId: null,
    visible: false,
  };
  defaultItem = {
    phaseId: -1,
    title: {
      de: "",
      en: "",
    },
    description: {
      de: "",
      en: "",
    },
    faqUrl: "",
    categoryId: null,
    visible: false,
  };

  newItemText = "New Phase";
  editItemText = "Edit Phase";
  itemSuccessfullyCreatedText = "Phase successfully created.";
  itemSuccessfullyUpdatedText = "Phase successfully updated.";
  itemSuccessfullyDeletedText = "Phase successfully deleted.";

  headers = [
    {
      text: "ID",
      align: "start",
      value: "phaseId",
      width: "80px",
    },
    {
      text: "Title (DE)",
      value: "title.de",
    },
    {
      text: "Title (EN)",
      value: "title.en",
    },
    {
      text: "Description (DE)",
      value: "description.de",
    },
    {
      text: "Description (EN)",
      value: "description.en",
    },
    {
      text: "FAQ (URL)",
      value: "faqUrl",
    },
    {
      text: "Category (ID)",
      value: "categoryId",
    },
    {
      text: "Groups",
      align: "end",
      value: "groups",
    },
    {
      text: "Persons",
      align: "end",
      value: "persons",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "180px",
    },
  ];

  dialogPhaseVisible = false;
  dialogPhaseVisibleItem = {};

  showDialogPhaseVisible(item: any) {
    this.dialogPhaseVisible = true;
    this.dialogPhaseVisibleItem = item;
  }

  toggleVisible(item: any) {
    this.dialogPhaseVisible = false;
    item.visible = !item.visible;
    this.updatePhase(item).then(result => {
      this.items.filter((i: any) => i.phaseId == item.phaseId).map(async (i: any) => {
          i.categoryId = (result as AxiosResponse).data.categoryId;
      });
    });
  }

  savePhase() {
    return this.saveItem(this.editedItem.phaseId, {
      phaseId: this.editedItem.phaseId,
      titleDe: this.editedItem.title.de ?? "",
      titleEn: this.editedItem.title.en ?? "",
      descriptionDe: this.editedItem.description.de ?? "",
      descriptionEn: this.editedItem.description.en ?? "",
      faqUrl: this.editedItem.faqUrl ?? "",
      categoryId: this.editedItem.categoryId,
      visible: this.editedItem.visible ?? false,
    });
  }

  updatePhase(item: any) {
    return this.updateItem(item.phaseId, {
      phaseId: item.phaseId,
      titleDe: item.title.de ?? "",
      titleEn: item.title.en ?? "",
      descriptionDe: item.description.de ?? "",
      descriptionEn: item.description.en ?? "",
      faqUrl: item.faqUrl ?? "",
      categoryId: item.categoryId,
      visible: item.visible ?? false,
    });
  }
}
</script>
