<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-layout child-flex>
          <v-data-table
            :expanded.sync="expanded"
            :footer-props="footerProps"
            :headers="headers"
            :items-per-page="10"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :item-key="keyIdentifier"
            show-select
            v-model="selected"
            child-flex
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Units</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-btn
                  class="mx-4"
                  color="error"
                  :disabled="selected.length <= 0"
                  @click="deleteItemsDialog"
                >Delete selected
                </v-btn>
                <v-dialog v-model="dialog" max-width="1000px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" color="#6D9E1F">{{
                        newItemText
                      }}
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle() }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.de"
                            label="Title (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.en"
                            label="Title (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.subtitle.de"
                            label="Subitle (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.subtitle.en"
                            label="Subtitle (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.markdown.de"
                            label="Markdown (DE)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.markdown.en"
                            label="Markdown (EN)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.image"
                            label="Image (URL)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.imageAlt.de"
                            label="Image ALT (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.imageAlt.en"
                            label="Image ALT (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.order"
                            label="Order (optional)"
                          ></v-text-field>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-btn color="secondary" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn color="primary" text @click="saveUnit">Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItem" max-width="520px">
                  <v-card>
                    <v-card-title class="headline"
                    >Are you sure you want to delete this unit?
                    </v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                      >OK
                      </v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItems" max-width="670px">
                  <v-card>
                    <v-card-title class="headline"
                    >Are you sure you want to delete ALL the selected units?
                    </v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                      >Cancel
                      </v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemsConfirm"
                      >OK
                      </v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.title.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.de"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.title.de)">
                  {{ item.title.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.title.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.en"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.title.en)">
                  {{ item.title.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.subtitle.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.subtitle.de"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.subtitle.de)">
                  {{ item.subtitle.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.subtitle.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.subtitle.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.subtitle.en"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.subtitle.en)">
                  {{ item.subtitle.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.subtitle.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.markdown.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.markdown.de"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.markdown.de)">
                  {{ item.markdown.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.markdown.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.markdown.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.markdown.en"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.markdown.en)">
                  {{ item.markdown.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.markdown.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.image="{ item }">
              <v-edit-dialog
                :return-value.sync="item.image"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.image)">
                  {{ item.image }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.image"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.imageAlt.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.imageAlt.de"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.imageAlt.de)">
                  {{ item.imageAlt.de }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.imageAlt.de"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.imageAlt.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.imageAlt.en"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.imageAlt.en)">
                  {{ item.imageAlt.en }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.imageAlt.en"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.order="{ item }">
              <v-edit-dialog
                :return-value.sync="item.order"
                large
                @save="updateUnit(item)"
              >
                <div :class="addEmptyAlertClass(item.order)">
                  {{ item.order }}
                </div>
                <template v-slot:input>
                  <v-text-field
                    v-model="item.order"
                    autofocus
                    counter
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.medias="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path:
                    '/phases/' +
                    phaseId +
                    '/groups/' +
                    groupId +
                    '/units/' +
                    item.unitId +
                    '/medias',
                }"
              >Medias ({{ item.medias == undefined ? 0 : item.medias.length }})
              </v-btn
              >
            </template>

            <template v-slot:item.entries="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path:
                    '/phases/' +
                    phaseId +
                    '/groups/' +
                    groupId +
                    '/units/' +
                    item.unitId +
                    '/entries',
                }"
              >Entries ({{ item.entries == undefined ? 0 : item.entries.length }})
              </v-btn
              >
            </template>

            <template v-slot:item.questions="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path:
                    '/phases/' +
                    phaseId +
                    '/groups/' +
                    groupId +
                    '/units/' +
                    item.unitId +
                    '/questions',
                }"
              >Questions ({{ item.questions == undefined ? 0 : item.questions.length }})
              </v-btn
              >
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon large class="mr-2" @click="openItemDialog(item)">
                mdi-pencil
              </v-icon>
              <v-icon large class="mr-2" @click="deleteItemDialog(item)">
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import {Component, Mixins} from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";

@Component
export default class UnitsComponent extends Mixins(DataTable) {
  phaseId = this.$route.params.phaseId;
  groupId = this.$route.params.groupId;

  pathGet = `/praxis/groups/${this.groupId}/units`;
  pathCreate = `/praxis/units`;
  pathUpdate = `/praxis/units`;
  pathDelete = `/praxis/units`;

  breadcrumbs = [
    {
      text: "Phases",
      disabled: false,
      exact: true,
      to: "/phases",
    },
    {
      text: "Groups",
      disabled: false,
      exact: true,
      to: "/phases/" + this.phaseId + "/groups",
    },
    {
      text: "Units",
      disabled: true,
    },
  ];

  keyIdentifier = "unitId";
  editedItem = {
    unitId: -1,
    groupId: null,
    title: {
      de: "",
      en: "",
    },
    subtitle: {
      de: "",
      en: "",
    },
    markdown: {
      de: "",
      en: "",
    },
    image: "",
    imageAlt: {
      de: "",
      en: "",
    },
    order: null,
  };
  defaultItem = {
    unitId: -1,
    groupId: null,
    title: {
      de: "",
      en: "",
    },
    subtitle: {
      de: "",
      en: "",
    },
    markdown: {
      de: "",
      en: "",
    },
    image: "",
    imageAlt: {
      de: "",
      en: "",
    },
    order: null,
  };

  newItemText = "New Unit";
  editItemText = "Edit Unit";
  itemSuccessfullyCreatedText = "Unit successfully created.";
  itemSuccessfullyUpdatedText = "Unit successfully updated.";
  itemSuccessfullyDeletedText = "Unit successfully deleted.";

  headers = [
    {
      text: "ID",
      align: "start",
      value: "unitId",
      width: "80px",
    },
    {
      text: "Title (DE)",
      value: "title.de",
    },
    {
      text: "Title (EN)",
      value: "title.en",
    },
    {
      text: "Subtitle (DE)",
      value: "subtitle.de",
    },
    {
      text: "Subtitle (EN)",
      value: "subtitle.en",
    },
    {
      text: "Markdown (DE)",
      value: "markdown.de",
    },
    {
      text: "Markdown (EN)",
      value: "markdown.en",
    },
    {
      text: "Image",
      value: "image",
    },
    {
      text: "Image ALT (DE)",
      value: "imageAlt.de",
    },
    {
      text: "Image ALT (EN)",
      value: "imageAlt.en",
    },
    {
      text: "Order",
      value: "order",
    },
    {
      text: "Medias",
      align: "end",
      value: "medias",
    },
    {
      text: "Entries",
      align: "end",
      value: "entries",
    },
    {
      text: "Questions",
      align: "end",
      value: "questions",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "120px",
    },
  ];

  saveUnit() {
    return this.saveItem(this.editedItem.unitId, {
      unitId: this.editedItem.unitId,
      groupId: this.editedItem.groupId ?? this.groupId,
      titleDe: this.editedItem.title.de ?? "",
      titleEn: this.editedItem.title.en ?? "",
      subtitleDe: this.editedItem.subtitle.de ?? "",
      subtitleEn: this.editedItem.subtitle.en ?? "",
      markdownDe: this.editedItem.markdown.de ?? "",
      markdownEn: this.editedItem.markdown.en ?? "",
      image: this.editedItem.image ?? "",
      imageAltDe: this.editedItem.imageAlt.de ?? "",
      imageAltEn: this.editedItem.imageAlt.en ?? "",
      order: this.editedItem.order ?? this.items.length,
    });
  }

  updateUnit(item: any) {
    return this.updateItem(item.unitId, {
      unitId: item.unitId,
      groupId: item.groupId,
      titleDe: item.title.de ?? "",
      titleEn: item.title.en ?? "",
      subtitleDe: item.subtitle.de ?? "",
      subtitleEn: item.subtitle.en ?? "",
      markdownDe: item.markdown.de ?? "",
      markdownEn: item.markdown.en ?? "",
      image: item.image ?? "",
      imageAltDe: item.imageAlt.de ?? "",
      imageAltEn: item.imageAlt.en ?? "",
      order: item.order ?? this.items.length,
    });
  }
}
</script>
