:root {
    --accent-color: #014457;
    --passive-color: #eee;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

html {
    font-size: 1.5rem;
    background: #ddd;
    /* transition: 250ms; */
}


/* html,
body {
    height: 100%;
} */

.noDisplay {
    display: none;
}

#content-margin {
    margin: 0.5em;
}

#content {
    background: white;
    max-width: 512px;
    margin: auto;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    /* height: 100%; */
    border-radius: 0.5em;
    position: relative;
    overflow: auto;
    /* margin-top: 1em; */
    /* margin: 1em; */
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#header img {
    max-height: 100%;
}

#header svg {
    max-height: 100%;
}

#header-logo {
    display: block;
    margin: auto;
}

#successSvg {
    max-width: 50%;
    margin: auto;
}

svg path {
    transition: 160ms;
    /* transition: 0ms;
    stroke: #000;
    stroke-width: 0px; */
}


/* svg:hover {
    fill: #014457;
    stroke: #000;
    transform: scale(1.05);
} */

#sendButton {
    border: none;
    border-radius: 0.5em;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1.0em;
    display: block;
    background: #014457;
    color: white;
    transition: 160ms;
    -webkit-appearance: none;
}

.disabled {
    border: none;
    border-radius: 0.5em;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1.0em;
    display: block;
    background: grey !important;
    color: #222;
}

#header {
    /* height: 40%; */
    height: 10em;
    vertical-align: middle;
    padding-top: 2em;
    text-align: center;
    position: relative;
}

#body-content {
    /* height: 60%; */
}

form {
    font-size: 1em;
    width: 100%;
    padding: 1.5em;
    position: relative;
    background: white;
}

.tcBlue {
    background: #014457;
}

.label {
    position: absolute;
    left: 1em;
    top: 0.8em;
    transform: translate(0em, 0.0em) scale(1.0);
    transition: 160ms;
    opacity: 0.5;
    font-size: 1em;
    transform-origin: 0% 50%;
}

.input:focus + .label,
.input:not(:-moz-placeholder-shown) + .label {
    /* transform: translate(0.0em, -0.7em) scale(0.6) !important; */
    /* color: #ccc; */
    opacity: 0.0;
}

.input:focus + .label,
.input:not(:-ms-input-placeholder) + .label {
    /* transform: translate(0.0em, -0.7em) scale(0.6) !important; */
    /* color: #ccc; */
    opacity: 0.0;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    /* transform: translate(0.0em, -0.7em) scale(0.6) !important; */
    /* color: #ccc; */
    opacity: 0.0;
}

.input:focus > .valInfo {
    opacity: 0.2;
}

.opacity {
    opacity: 0.2;
}

svg {
    /* transition: 160ms; */
}

@keyframes example {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}

.opacity-hide {
    opacity: 0.0;
}

.opacity-full {
    opacity: 1.0;
}

#logo_single path {
    stroke-dasharray: 0;
    transition: 160ms;
    -webkit-transition: all 160ms linear;
    -moz-transition: all 160ms linear;
    -o-transition: all 160ms linear;
    transition: all 160ms linear;
}

.tcP {
    /* fill: #ddd !important; */
}

.validator {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1em;
    height: 1em;
}

.validatorInfos {
    margin-top: 0.4em;
}

#data {
    word-break: break-all;
    padding: 1em;
    /* display: none; */
}

.valInfo {
    font-size: 0.8em;
    margin-left: 0em;
    color: #aaa;
    transition: 160ms;
}

.valFocused {
    color: #D64A5D;
}

.valTrue {
    color: #80ba25;
}

.valFalse {
}

.path-loading {
    stroke-width: 5;
    stroke: #ccc !important;
    transition: 160ms;
    fill: #ddd;
    background: #ddd;
}

h1 {
    font-size: 1.2em;
    text-align: center;
    margin: 1.5em;
    margin-bottom: 2em;
}

.serverMessage {
    font-size: 1em;
    text-align: center;
}

.serverError {
    font-size: 1em;
    text-align: center;
    color: #D64A5D;
}

#serverError {
    font-weight: 900;
    font-size: 4em;
}

#spanErrors {
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}

label {
    margin-bottom: 1em;
    box-sizing: border-box;
    font-size: 1.0em;
    display: block;
    position: relative;
    border-radius: 0.5em;
}

.input {
    padding: 2em;
    border-radius: 0.5em;
    width: 100%;
    border: none;
    background: rgba(238, 238, 238, 0.294);
    letter-spacing: 1em;
    font-weight: 900;
    /* background: var(--passive-color); */
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label:invalid {
    /* box-shadow: none; */
    /* border-color: #D64A5D !important; */
    /* opacity: 0.4 !important; */
}

input[type="password"] {
    border: 2px solid #ddd;
}


/* input[type="password"]:valid {
    border: 2px solid green
} */


/* input[type="password"]:invalid {
    border: 2px solid #ddd
} */

.validation_error {
    border: 2px solid #D64A5D !important;
}

.validation_correct {
    border: 2px solid #80ba25 !important;
    color: rgba(128, 186, 37, 1.0);
}
