<script th:src="@{~/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{~/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{~/webjars/datatables-plugins/sorting/natural.js}"></script>

<script>
    let sort_column = $('.table').find("#sort-column");
    let sort_column_index = (typeof sort_column === 'undefined') ? 0 : sort_column[0].cellIndex;

    $(document).ready(function () {
        $('table').DataTable({
            order: [
                [sort_column_index, 'desc']
            ]
        });
    });
</script>
