<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'tinyCampus | ' + ${title}">tinyCampus</title>

    <script th:src="@{~/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{~/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{~/webjars/datatables/css/jquery.dataTables.min.css}"/>

    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
        .dataTables_wrapper .dataTables_paginate .paginate_button,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
            padding: 0;
            margin-left: 0;
            border: none;
            background: none;
        }

        /* Override Bootstrap rule */
        .table td, .table th {
            vertical-align: middle !important;
        }
    </style>
</head>
