<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light mb-1">
    <a class="navbar-brand" th:href="@{~/dashboard}"><img th:src="@{~/images/tc-logo.png}" alt="" height="50"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveDashboard}" th:href="@{~/dashboard}">Timeline</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveForm}" th:href="@{~/form}">New Timeline Entry</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveEvents}" th:href="@{~/tb-events}">Events</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveUsers}" th:href="@{~/participants}">Users</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveFeedback}" th:href="@{~/event-feedback}">Feedback</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveComments}" th:href="@{~/comments}">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveQuestions}" th:href="@{~/qanda}">Q&A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveMensaHours}" th:href="@{~/dashboard/cafeteria}">Cafeteria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveCafeteriaComments}"
                   th:href="@{~/dashboard/cafeteria/comments}">Cafeteria Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/dashboard/praxis}" target="_blank">Praxis (extern)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveReports}" th:href="@{~/dashboard/reports}">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${classActiveMetrics}" th:href="@{~/dashboard/metrics}">Metrics</a>
            </li>
        </ul>
    </div>
</nav>
</html>
