<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <h3>All Cafeterias</h3>
    <form method="post" th:action="@{~/dashboard/cafeteria}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Cafeteria</th>
                <th scope="col">News</th>
                <th scope="col">Description</th>
                <th scope="col">Image URL</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table" th:each="cafeteria : ${cafeterias}">
                <td><input th:name="'update_cafeteria_name_' + ${cafeteria.id}" th:value="${cafeteria.name}"
                           type="text"/>
                <td><textarea cols="40" rows="5"
                              th:name="'update_cafeteria_news_' + ${cafeteria.id}"
                              th:text="${cafeteria.news}"></textarea>
                </td>
                <td><textarea cols="40" rows="5"
                              th:name="'update_cafeteria_description_' + ${cafeteria.id}"
                              th:text="${cafeteria.description}"></textarea>
                <td><input th:name="'update_cafeteria_image_' + ${cafeteria.id}" th:value="${cafeteria.image}"
                           type="text"/>
                <td><input th:name="'update_cafeteria_latitude_' + ${cafeteria.id}" th:value="${cafeteria.latitude}"
                           type="text"/>
                <td><input th:name="'update_cafeteria_longitude_' + ${cafeteria.id}" th:value="${cafeteria.longitude}"
                           type="text"/>
                </td>
                <td>
                    <input class="btn btn-warning" th:name="'update_cafeteria_' + ${cafeteria.id}" type="submit"
                           value="Save"/>
                    <input class="btn btn-danger" th:name="'delete_cafeteria_' + ${cafeteria.id}" type="submit"
                           value="Delete"/>
                </td>
            </tr>
            <tr>
                <td><input name="create_cafeteria_name" type="text"/></td>
                <td><input name="create_cafeteria_news" type="text"/></td>
                <td><input name="create_cafeteria_description" type="text"/></td>
                <td><input name="create_cafeteria_image" type="text"/></td>
                <td><input name="create_cafeteria_latitude" type="text"/></td>
                <td><input name="create_cafeteria_longitude" type="text"/></td>
                <td><input class="btn btn-success" name="create_cafeteria" type="submit" value="Add"/></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div th:each="cafeteria : ${cafeterias}">
        <form method="post" th:action="@{~/dashboard/cafeteria}">
            <hr class="mt-5 mb-5">
            <h3 th:text="${cafeteria.name}"></h3>
            <h5>Opening hours</h5>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Day of week</th>
                    <th scope="col">Open</th>
                    <th scope="col">Close</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-primary" th:each="opening : ${cafeteriaOpeningHours.get(cafeteria.id)}">
                    <td>
                        <select th:name="'update_opening_hours_day_of_week_' + ${opening.cafeteriaId}">
                            <option th:selected="${opening.dayOfWeek.toString().equals('MONDAY')}" value="monday">
                                Monday
                            </option>
                            <option th:selected="${opening.dayOfWeek.toString().equals('TUESDAY')}" value="tuesday">
                                Tuesday
                            </option>
                            <option th:selected="${opening.dayOfWeek.toString().equals('WEDNESDAY')}" value="wednesday">
                                Wednesday
                            </option>
                            <option th:selected="${opening.dayOfWeek.toString().equals('THURSDAY')}" value="thursday">
                                Thursday
                            </option>
                            <option th:selected="${opening.dayOfWeek.toString().equals('FRIDAY')}" value="friday">
                                Friday
                            </option>
                            <option th:selected="${opening.dayOfWeek.toString().equals('SATURDAY')}" value="saturday">
                                Saturday
                            </option>
                            <option th:selected="${opening.dayOfWeek.toString().equals('SUNDAY')}" value="sunday">
                                Sunday
                            </option>
                        </select>
                    </td>
                    <td><input th:name="'update_opening_hours_open_' + ${opening.cafeteriaId}"
                               th:value="${opening.open.toLocalTime()}" type="time"/></td>
                    <td><input th:name="'update_opening_hours_close_' + ${opening.cafeteriaId}"
                               th:value="${opening.close.toLocalTime()}" type="time"/></td>
                    <td>
                        <input class="btn btn-warning" th:name="'update_opening_hours_' + ${opening.cafeteriaId}"
                               type="submit"
                               value="Save"/>
                        <input class="btn btn-danger" th:name="'delete_opening_hours_' + ${opening.cafeteriaId}"
                               type="submit"
                               value="Delete"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="create_opening_hours_day_of_week">
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="sunday">Sunday</option>
                        </select>
                    </td>
                    <td><input name="create_opening_hours_open" type="time" value="00:00"></td>
                    <td><input name="create_opening_hours_close" type="time" value="00:00"></td>
                    <td>
                        <input class="btn btn-success" name="create_opening_hours" type="submit" value="Add"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <th/>
            <h5>Eating hours</h5>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Day of week</th>
                    <th scope="col">Open</th>
                    <th scope="col">Close</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-primary" th:each="eating : ${cafeteriaEatingHours.get(cafeteria.id)}">
                    <td>
                        <select th:name="'update_eating_hours_day_of_week_' + ${eating.cafeteriaId}">
                            <option th:selected="${eating.dayOfWeek.toString().equals('MONDAY')}" value="monday">
                                Monday
                            </option>
                            <option th:selected="${eating.dayOfWeek.toString().equals('TUESDAY')}" value="tuesday">
                                Tuesday
                            </option>
                            <option th:selected="${eating.dayOfWeek.toString().equals('WEDNESDAY')}" value="wednesday">
                                Wednesday
                            </option>
                            <option th:selected="${eating.dayOfWeek.toString().equals('THURSDAY')}" value="thursday">
                                Thursday
                            </option>
                            <option th:selected="${eating.dayOfWeek.toString().equals('FRIDAY')}" value="friday">
                                Friday
                            </option>
                            <option th:selected="${eating.dayOfWeek.toString().equals('SATURDAY')}" value="saturday">
                                Saturday
                            </option>
                            <option th:selected="${eating.dayOfWeek.toString().equals('SUNDAY')}" value="sunday">
                                Sunday
                            </option>
                        </select>
                    </td>
                    <td><input th:name="'update_eating_hours_open_' + ${eating.cafeteriaId}"
                               th:value="${eating.open.toLocalTime()}" type="time"/></td>
                    <td><input th:name="'update_eating_hours_close_' + ${eating.cafeteriaId}"
                               th:value="${eating.close.toLocalTime()}" type="time"/></td>
                    <td>
                        <input class="btn btn-warning" th:name="'update_eating_hours_' + ${eating.cafeteriaId}"
                               type="submit"
                               value="Save"/>
                        <input class="btn btn-danger" th:name="'delete_eating_hours_' + ${eating.cafeteriaId}"
                               type="submit"
                               value="Delete"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="create_eating_hours_day_of_week">
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="sunday">Sunday</option>
                        </select>
                    </td>
                    <td><input name="create_eating_hours_open" type="time" value="00:00"></td>
                    <td><input name="create_eating_hours_close" type="time" value="00:00"></td>
                    <td>
                        <input class="btn btn-success" name="create_eating_hours" type="submit" value="Add"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <th/>
            <h5>Closures</h5>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-warning" th:each="closure : ${cafeteriaClosures.get(cafeteria.id)}">
                    <td><input th:name="'update_closure_from_' + ${closure.cafeteriaId}" th:value="${closure.from}"
                               type="date">
                    </td>
                    <td><input th:name="'update_closure_to_' + ${closure.cafeteriaId}" th:value="${closure.to}"
                               type="date"></td>
                    <td>
                        <input class="btn btn-warning" th:name="'update_closure_' + ${closure.cafeteriaId}"
                               type="submit"
                               value="Save"/>
                        <input class="btn btn-danger" th:name="'delete_closure_' + ${closure.cafeteriaId}" type="submit"
                               value="Delete"/>
                    </td>
                </tr>
                <tr>
                    <td><input th:name="create_closure_from"
                               th:value="${#dates.format(#execInfo.now.time,'yyyy-MM-dd')}"
                               type="date">
                    </td>
                    <td><input th:name="create_closure_to" th:value="${#dates.format(#execInfo.now.time,'yyyy-MM-dd')}"
                               type="date">
                    </td>
                    <td>
                        <input class="btn btn-success" name="create_closure" type="submit" value="Add"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <input name="cafeteria_id" th:value="${cafeteria.id}" type="hidden"/>
        </form>
    </div>
</div>
</body>

<th:block th:insert="fragments/footer"/>

</html>
