<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Cafeteria&nbsp;Name</th>
            <th scope="col">Service&nbsp;Desk</th>
            <th scope="col">Cafeteria&nbsp;Item</th>
            <th scope="col">Author</th>
            <th scope="col">Text</th>
            <th id="sort-column" scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cc : ${cafeteriaComments}">
            <td style="scroll-margin-top: 80px;" th:id="cc + ${cc.id}" th:text="${cc.id}">ID</td>
            <td th:text="${cc.cafeteriaName}">Cafeteria Name</td>
            <td th:text="${cc.category}">Service Desk</td>
            <td th:text="${cc.descriptionClean}">Cafeteria Item</td>
            <td>
                <a th:href="@{~/participants/{id}(id=${cc.author.id})}" th:text="${cc.author.name}">Author</a>
            </td>
            <td th:text="${cc.text}">Text</td>
            <td th:attrappend="data-sort=${#dates.formatISO(cc.createdAt)}" th:text="${#dates.format(cc.createdAt, 'dd.MM.yyyy&nbsp;HH:mm')}">Date</td>
            <td>
                <form class="d-inline" action="#" method="post" th:action="@{~/dashboard/cafeteria/comments}">
                    <input name="id" th:value="${cc.id}" type="hidden"/>
                    <input class="btn btn-danger" type="submit" value="X"/>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
