<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Event</th>
            <th scope="col">Author</th>
            <th scope="col">Text</th>
            <th id="sort-column" scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${comments}">
            <td th:text="${c.id}">ID</td>
            <td th:text="${c.event.title}">Event</td>
            <td>
                <a th:href="@{~/participants/{id}(id=${c.author.id})}" th:text="${c.author.name}">Author</a>
            </td>
            <td th:text="${c.text}">Text</td>
            <td th:attrappend="data-sort=${#dates.formatISO(c.date)}" th:text="${#dates.format(c.date, 'dd.MM.yyyy&nbsp;HH:mm')}">Date</td>
            <td>
                <form class="d-inline" action="#" method="post" th:action="@{~/comments}">
                    <input name="id" th:value="${c.id}" type="hidden"/>
                    <input class="btn btn-danger" type="submit" value="X"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
