<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Source</th>
            <th scope="col">Text</th>
            <th id="sort-column" scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tle : ${entries}">
            <td style="scroll-margin-top: 80px;" th:id="tle + ${tle.id}" th:text="${tle.id}">ID</td>
            <td th:text="${tle.source.defaultName}">Source</td>
            <td th:text="${tle.text}">Text</td>
            <td th:attrappend="data-sort=${#dates.formatISO(tle.modified)}" th:text="${#dates.format(tle.modified, 'dd.MM.yyyy&nbsp;HH:mm')}">Date</td>
            <td>
                <form class="d-inline" action="#" th:action="@{~/dashboard}"  method="post">
                    <input type="hidden" name="id" th:value="${tle.id}"/>
                    <input class="btn btn-danger" type="submit" value="X"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
