<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Event</th>
            <th scope="col">Rating</th>
            <th scope="col">Feedback</th>
            <th id="sort-column" scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${feedback}">
            <td th:text="${f.id}">ID</td>
            <td th:text="${f.event.title}">Event</td>
            <td th:text="${f.rating}">Rating</td>
            <td th:text="${f.comment}">Feedback</td>
            <td th:attrappend="data-sort=${#dates.formatISO(f.createdAt)}" th:text="${#dates.format(f.createdAt, 'dd.MM.yyyy&nbsp;HH:mm')}">Time</td>
        </tr>
        </tbody>
    </table>

</div>
</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
