<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<script type="text/javascript">
    function updateCounter() {
        let limit = document.getElementById('textInput').getAttribute('maxlength');
        let textInput = document.getElementById('textInput');

        document.getElementById('counter').innerText = (limit - textInput.value.length) + '/' + limit + ' characters remaining';
    }

    window.addEventListener("load", updateCounter);
</script>

<th:block th:insert="fragments/navbar"/>

<div class="container card">
    <div class="card-body">

    <form action="#" th:action="@{~/form}" th:objects="${timelineEntryForm}" method="post">
        <div class="form-group">
            <label for="sourceDropdown">Source</label>
            <select class="form-control" id="sourceDropdown" th:field="*{timelineEntryForm.sourceId}">
                <option th:each="s : ${sources}" th:text="${s.value}" th:value="${s.key}">Source</option>
            </select>
            <span th:if="${#fields.hasErrors('timelineEntryForm.sourceId')}" th:errors="*{timelineEntryForm.sourceId}">Source Error</span>
        </div>

        <div class="form-group">
            <label for="textInput">Text (<span id="counter">max. 65536 characters</span>)</label>
            <textarea class="form-control" id="textInput" th:field="*{timelineEntryForm.text}" rows="12" maxlength="65536" oninput="updateCounter()" autofocus></textarea>
            <span th:if="${#fields.hasErrors('timelineEntryForm.text')}" th:errors="*{timelineEntryForm.text}">Text Error</span>
        </div>

        <div class="form-group form-row">
            <div class="col-sm-1">
                <label class="form-checke-label" for="pinInput">Pin</label>
            </div>
            <div class="col-sm-1">
                <input class="form-control" type="checkbox" id="pinInput" th:field="*{timelineEntryForm.isPinned}" checked="true" value="true"/>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
</div>
</body>

<th:block th:insert="fragments/footer"/>

</html>
