<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th id="sort-column" scope="col">Date</th>
            <th scope="col">Unique Daily Users</th>
            <th scope="col">Successful Logins (Fetch Token)</th>
            <th scope="col">Successful Logins (Use Token)</th>
            <th scope="col">Failed Logins (Disabled)</th>
            <th scope="col">Failed Logins (Bad Credentials)</th>
            <th scope="col">Failed Logins (Bad Token)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${metrics}">
            <td th:attrappend="data-sort=${#dates.formatISO(m.date)}" th:text="${#dates.format(m.date, 'dd.MM.yyyy&nbsp;HH:mm')}">Date</td>
            <td th:text="${m.uniqueDailyUsers}"></td>
            <td th:text="${m.successfulLoginsFetchToken}"></td>
            <td th:text="${m.successfulLoginsUseToken}"></td>
            <td th:text="${m.failedLoginsDisabled}"></td>
            <td th:text="${m.failedLoginsBadCredentials}"></td>
            <td th:text="${m.failedLoginsBadToken}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
