<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <th:block th:insert="fragments/alert"/>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Display Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th id="sort-column" scope="col">Created at</th>
            <th scope="col">Delete User?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td>
                <a th:href="@{~/participants/{id}(id=${u.id})}" th:text="${u.id}">ID</a>
            </td>
            <td>
                <a th:href="@{~/participants/{id}(id=${u.id})}" th:text="${u.name}">Display Name</a>
            </td>
            <td>
                <a th:href="@{~/participants/{id}(id=${u.id})}" th:text="${u.username}">User Name</a>
            </td>
            <td th:text="${emails['__${u.username}__']}">Email</td>
            <td th:attrappend="data-sort=${#dates.formatISO(u.createdAt)}" th:text="${#dates.format(u.createdAt, 'dd.MM.yyyy&nbsp;HH:mm:ss')}">Date</td>
            <td>
                <form class="d-inline" action="#" method="post" th:action="@{~/participants}">
                    <input type="hidden" th:name="userName" th:value="${u.username}"/>
                    <input type="text" th:name="confirmedUserName" placeholder="Confirm username"/>
                    <input class="btn btn-danger" type="submit" value="X"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
