<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">Text</th>
            <th id="sort-column" scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="q : ${questions}">
            <tr class="table-primary">
                <td style="scroll-margin-top: 80px; white-space: nowrap;" th:id="q + ${q.id}" th:text="'Q' + ${q.id}">ID</td>
                <td th:text="${q.category.title}">Category</td>
                <td>
                    <a th:href="@{~/participants/{id}(id=${q.author.id})}" th:text="${q.author.name}">Author</a>
                </td>
                <td th:text="${q.text}">Text</td>
                <td th:attrappend="data-sort=${#dates.formatISO(q.date)}" th:text="${#dates.format(q.date, 'dd.MM.yyyy&nbsp;HH:mm')}">Date</td>
                <td>
                    <form class="d-inline" action="#" method="post" th:action="@{~/qanda/questions}">
                        <input name="id" th:value="${q.id}" type="hidden"/>
                        <input class="btn btn-danger" type="submit" value="X"/>
                    </form>
                </td>
            </tr>
            <tr class="table-warning" th:each="a : ${q.answers}">
                <td style="scroll-margin-top: 80px; white-space: nowrap;" th:id="a + ${a.id}" th:text="'Q' + ${q.id} + '-A' + ${a.id}">ID</td>
                <td></td>
                <td>
                    <a th:href="@{~/participants/{id}(id=${a.author.id})}" th:text="${a.author.name}">Author</a>
                </td>
                <td th:text="${a.text}">Text</td>
                <td th:attrappend="data-sort=${#dates.formatISO(a.date)}" th:text="${#dates.format(a.date, 'dd.MM.yyyy&nbsp;HH:mm')}">Date</td>
                <td>
                    <form class="d-inline" action="#" method="post" th:action="@{~/qanda/answers}">
                        <input name="id" th:value="${a.id}" type="hidden"/>
                        <input class="btn btn-danger" type="submit" value="X"/>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
