<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Reported Item</th>
            <th scope="col">Text</th>
            <th scope="col">First&nbsp;reported&nbsp;by</th>
            <th scope="col">#&nbsp;Reports</th>
            <th id="sort-column" scope="col">First&nbsp;reported</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${reports}">
            <td th:switch="${r.contentType}">

                <a th:case="Answer"
                   th:href="@{/qanda} + '#a' + ${r.content.id}"
                   th:text="${r.contentType} + '&nbsp;' + ${r.content.id}">Link</a>

                <a th:case="CafeteriaComment"
                   th:href="@{/dashboard/cafeteria/comments} + '#cc' + ${r.content.id}"
                   th:text="${r.contentType} + '&nbsp;' + ${r.content.id}">Link</a>

                <a th:case="Question"
                   th:href="@{/qanda} + '#q' + ${r.content.id}"
                   th:text="${r.contentType} + '&nbsp;' + ${r.content.id}">Link</a>

                <a th:case="TimelineEntry"
                   th:href="@{/dashboard} + '#tle' + ${r.content.id}"
                   th:text="${r.contentType} + '&nbsp;' + ${r.content.id}">Link</a>

                <a th:case="*"
                   th:text="${r.contentType} + '&nbsp;' + '-1'">Link</a>
            </td>
            <td th:text="${r.content.text}">Text</td>
            <td>
                <a th:href="@{~/participants/{id}(id=${r.report.reportingUser.id})}"
                   th:text="${r.report.reportingUser.name}">First&nbsp;reported&nbsp;by</a>
            </td>
            <td th:text="${r.numberOfReports}">#&nbsp;Reports</td>
            <td th:attrappend="data-sort=${#dates.formatISO(r.firstReported)}" th:text="${#dates.format(r.firstReported, 'dd.MM.yyyy&nbsp;HH:mm')}">First&nbsp;reported&nbsp;at</td>
            <td>
                <form class="d-inline" action="#" th:action="@{~/dashboard/reports}" method="post">
                    <input type="hidden" name="id" th:value="${r.content.id}"/>
                    <input type="hidden" name="type" th:value="${r.contentType}"/>
                    <input class="btn btn-danger" type="submit" value="X"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
