<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Topic</th>
            <th scope="col">Type</th>
            <th scope="col">Title</th>
            <th scope="col">Short description</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Speaker</th>
            <th scope="col">Location</th>
            <th scope="col">Target audience</th>
            <th scope="col">Tools</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e : ${events}">
            <td th:text="${e.id}">ID</td>
            <td th:text="${e.topic}">Topic</td>
            <td th:text="${e.type}">Type</td>
            <td th:text="${e.title}">Title</td>
            <td th:text="${e.shortDescription}">Short Description</td>
            <td th:text="${e.description}">Description</td>
            <td th:text="${e.timeslot}">Time</td>
            <td th:text="${e.speaker}">Speaker</td>
            <td th:text="${e.location}">Location</td>
            <td th:text="${e.targetGroup}">Target audience</td>
            <td th:text="${e.tools}">Tools</td>
        </tr>
        </tbody>
    </table>

</body>

<th:block th:insert="fragments/footer"/>
<th:block th:insert="fragments/datatable"/>

</html>
