<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/header"/>

<body>

<th:block th:insert="fragments/navbar"/>

<div class="container">
    <div class="card">
        <th:block th:insert="fragments/alert"/>

        <div class="card-body" style="margin-bottom: -12px;">
            <h3 class="card-title" th:text="'Flairs for User \'' + ${user.name} + '\' (' + ${user.username} + ')'"></h3>

            <form action="#" method="post" th:action="@{~/participants/{id}(id=${user.id})}">
                <div th:each="f : ${flairs}">
                    <fieldset>
                        <input type="checkbox" name="ids"
                               th:checked="${#lists.contains(userFlairs, f.id)}" th:id="${f.id}"
                               th:value="${f.id}">
                        <label class="form-check-label" th:text="${f.default_title}" th:for="${f.id}">ID</label>
                    </fieldset>
                </div>
                <div class="mt-2">
                    <input class="btn btn-primary card-link" type="submit" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<th:block th:insert="fragments/footer"/>

</html>
