<!DOCTYPE html>
<html lang="de">

<head>
    <title th:text="${title} + ' | tinyCampus'">tinyCampus</title>
    <link th:href="@{~/webjars/lato/css/lato.min.css}" rel='stylesheet' type='text/css'>
    <link th:href="@{~/reset/reset.css}" rel="stylesheet">
    <link th:href="@{~/images/favicon.ico}" rel="icon">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
</head>

<body>
<div id="content-margin">
    <div id="content">
        <div id="header">
            <!-- TODO Background image -->
            <img id="header-logo" th:src="@{~/images/logo.svg}" alt="tinyCampus logo">
        </div>
        <div id="body-content">
            <h1 id="headline" th:text="${title}">E-Mail-Adresse bestätigt</h1>
            <div id="spanErrors" th:classappend="${messageType}" th:text="${message}"></div>
        </div>
    </div>
</div>
</body>

</html>
